body{
    margin:0;
}

#sideInfo {
    color: white;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
}

.close{
    position: absolute;
    top:3px;
    left:10px;
    background-color: #111;
    color: grey;
    font-size: 4em;
    border: none;
}

.header{
    z-index: 2;
}
