body{
    margin:0;
}

#sideInfo {
    color: white;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.close{
    position: absolute;
    top:3px;
    left:10px;
    background-color: #111;
    color: grey;
    font-size: 4em;
    border: none;
}

.sidenav h1{
    margin: 3em 15px 0 1em;
    text-decoration: none;
    font-size: 30px;
    text-decoration-line: underline;
    color: white;
    display: block;
}
.sidenav :hover {

    cursor: default;

}


.sidenav p{
    margin: 1em 5px 0 1em;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;

}

.header{
    margin-right: 20px;
    height: 14vh;
    width: 100%;
}

.icon{
    margin: 0;
    height: 20%;
    width: 20%;
    z-index: 1;
}

.tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    z-index: 4;
    padding: 2px;
} 


.icon:hover .tooltiptext{
    visibility: visible;
}

.wrapper{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    height: 63%
}

#mainhead{
    font-size: 2em;
    padding: -5px 0 0 0;
    margin: 0;
    margin-top: 18px;
}

.flex{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 37%;
    background-color: rgb(190, 186, 186)
}

select{
    border-radius: 5%;
    width: 20%;
}

.formwrapper{
    display: flex;
    justify-content: center;
    align-content: center;
}

form{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 3%;
}

.addMilks{
    display: flex;
    flex-direction: column;
}

input:focus{
    background-color: palegoldenrod;
}